@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body
{
    background: #000;
}
header 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}
header .logo img
{
    max-width: 150px;
}
.navigation
{
    display: flex;
}
.navigation li
{
    list-style: none;
    margin: 0 10px;
}
.navigation li a
{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}